body {
  padding: 15px;
}

.container {
  width: 500px;
  text-align: center;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 15px;
}

h1 {
  text-decoration: underline;
}

.container div {
  display: none;
}

ul {
  padding: 0;
}

ul li a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
  display: inline;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.active {
  background-color: #000;
  color: #fff;
}

