<div class="container">
  <h1>jQuery Rocks</h1>

  <ul>
    <li class="tab"><a href="#thing1">Thing 1</a></li>
    <li class="tab"><a href="#thing2">Thing 2</a></li>
  </ul>

  <div id="thing1">This is some content for thing 1</div>
  <div id="thing2">This is some content for thing 2</div>
</div>